<h1>Nav</h1>

<h1 class="welcome-text">Bienvenidos a SuShop Ecommerce!</h1>
<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ropa Casual</a></li>
        <li><a href="#">Ropa Vestir</a></li>
        <li><a href="#">Calzado</a></li>
        <li><a href="#">Accesorios</a></li>
    </ul>
</nav>